Django==5.2.16
djangorestframework==3.16.1
django-cors-headers==4.9.0
torch
scikit-learn==1.6.1
pandas
numpy
python-whois
requests
beautifulsoup4
urllib3
opencv-python
Pillow
python-dotenv
weasyprint==69.0
easyocr==1.7.2
markdown==3.10.3
bleach==6.4.0
